#container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;

    #content {
        overflow: hidden;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #dfdfdf;
    }
}

#top_nav {
    width: 240px;
    background: rgba(200, 200, 200, 0.4);

    .input {
        width: 90px;
    }
    .px {
        margin-left: 10px;

        input {
            text-align: center;
        }
    }
}
#game {
    background-color: #ccc;
}
